{
    "swagger": "2.0",
    "info": {
      "title": "Conversation API",
      "version": "1.0.0",
      "description": "API for managing conversations"
    },
    "host": "api.bee.computer",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "paths": {
    
      "/v1/{userId}/conversations": {
        "get": {
          "summary": "Get summaries of all conversations for a user with paging",
          "parameters": [
            {
              "in": "path",
              "name": "userId",
              "schema": {
                "type": "string",
                "example": "me"
              },
              "required": true,
              "description": "ID of the user (currently only supports 'me')"
            },
            {
              "in": "query",
              "name": "page",
              "schema": {
                "type": "integer"
              },
              "description": "Page number"
            },
            {
              "in": "query",
              "name": "limit",
              "schema": {
                "type": "integer"
              },
              "description": "Number of items per page"
            }
          ],
          "responses": {
            "200": {
              "description": "A paginated list of conversation summaries"
            },
            "401": {
              "description": "Unauthorized"
            }
          }
        }
      },
      "/v1/{userId}/conversations/{id}": {
        "get": {
          "summary": "Get a specific conversation for a user",
          "parameters": [
            {
              "in": "path",
              "name": "userId",
              "schema": {
                "type": "string",
                "example": "me"
              },
              "required": true,
              "description": "ID of the user (currently only supports 'me')"
            },
            {
              "in": "path",
              "name": "id",
              "schema": {
                "type": "integer",
                "default": 1
              },
              "required": true,
              "description": "ID of the conversation"
            }
          ],
          "responses": {
            "200": {
              "description": "The requested conversation"
            },
            "400": {
              "description": "Invalid conversation ID"
            },
            "401": {
              "description": "Unauthorized"
            },
            "404": {
              "description": "Conversation not found"
            }
          }
        },
        "delete": {
          "summary": "Delete a specific conversation for a user",
          "parameters": [
            {
              "in": "path",
              "name": "userId",
              "schema": {
                "type": "string",
                "example": "me"
              },
              "required": true,
              "description": "ID of the user (currently only supports 'me')"
            },
            {
              "in": "path",
              "name": "id",
              "schema": {
                "type": "integer",
                "default": 1
              },
              "required": true,
              "description": "ID of the conversation"
            }
          ],
          "responses": {
            "200": {
              "description": "The deleted conversation"
            },
            "401": {
              "description": "Unauthorized"
            },
            "404": {
              "description": "Conversation not found"
            }
          }
        }
      },
      "/v1/{userId}/conversations/{id}/end": {
        "post": {
          "summary": "End a specific conversation for a user",
          "parameters": [
            {
              "in": "path",
              "name": "userId",
              "schema": {
                "type": "string",
                "example": "me"
              },
              "required": true,
              "description": "ID of the user (currently only supports 'me')"
            },
            {
              "in": "path",
              "name": "id",
              "schema": {
                "type": "integer",
                "default": 1
              },
              "required": true,
              "description": "ID of the conversation"
            }
          ],
          "responses": {
            "200": {
              "description": "The ended conversation"
            },
            "401": {
              "description": "Unauthorized"
            },
            "404": {
              "description": "Conversation not found"
            }
          }
        }
      },
      "/v1/{userId}/conversations/{id}/retry": {
        "post": {
          "summary": "Retry a specific conversation for a user",
          "parameters": [
            {
              "in": "path",
              "name": "userId",
              "schema": {
                "type": "string",
                "example": "me"
              },
              "required": true,
              "description": "ID of the user (currently only supports 'me')"
            },
            {
              "in": "path",
              "name": "id",
              "schema": {
                "type": "integer",
                "default": 1
              },
              "required": true,
              "description": "ID of the conversation"
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "401": {
              "description": "Unauthorized"
            },
            "404": {
              "description": "Conversation not found"
            }
          }
        }
      }
    }
  }